<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
	<session-factory>
		<!--  JDBC Database connection settings -->
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:developer</property>
		<property name="connection.username">ATADB</property>
		<property name="connection.password">admin25</property>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- JDBC Connection poll settings -->
		<property name="connection.pool_size">1</property>
		<!-- Select our SQL Dialect -->
		
<!-- 	mapping classes -->
		<mapping class="com.amovil.jpa.user"></mapping>
		
		<!-- mapping xml reosurces -->
		<!--<mapping resource="userObj.hbm.xml"/>-->
	</session-factory>
</hibernate-configuration>

